@charset "UTF-8";

table.table-1 {
  width: 450px;
  table-layout: fixed;
  border: solid #7777cc 4px;
}

tr.tr-1 {
  height: 80px;
  vertical-align: middle;
}

td.td-1 {
  border: solid #a09999 2px;
}

td.td-2 {
  text-align: center;
}

button.button-1 {
  color: #0000bb;
  background-color: #dddd44;
  height: 45px;
  width: 60%;
}

div.div-1 {
  font: oblique;
  font-weight: 600;
  font-size: 18px;
  color: rgb(0, 128, 128);
}
